{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    },
    "parser": {
      "syntax"            : "typescript",
      "tsx"               : true,
      "decorators"        : false,
      "dynamicImport"     : true,
      "exportDefaultFrom" : true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "sourceMaps": true
}